<%- include('layout/header') -%>
<div class="wrapper">
    <div class="container-fluid">

        <div class="card-body text-center">
            <h1 class="">Antrian</h1>                                            
            <div class="button-items">
                <button type="button" onclick="cetak()" class="btn btn-primary btn-lg"><span class="mdi mdi-printer"></span> Centak</button>
            </div>       
        </div>
        <div class="card-body text-center">
            <h1 class="">Total Antrian</h1>
            <h1 id="antrian">0</h1>
        </div>
        <div class="card-body text-center">
            <h1 class="">Sisa Antrian</h1>
            <h1 id="sisa">0</h1>
        </div>
        <!-- <button onclick="cetak()">Cetak Antiran</button> -->
    </div>
</div>
<!-- end wrapper -->
<%- include('layout/script') -%>
<script src="/asset/js/cetak.js"></script>
<%- include('layout/footer') -%>