<%- include('layout/header') -%>
    <div class="wrapper">
        <div class="container-fluid">

            <div class="row position-relative">
                <div class="col-6 ">
                    <div class="d-flex justify-content-center">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title text-center">Antrian</h5>
                                <h6 class="card-subtitle mb-2 text-muted text-center">Sisa Antiran <span id="sisa"></span></h6>
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn btn-primary btn-lg text-center" id="btnCetak" onclick="cetak()">Cetak Antrian ke <span id="antrian"></span></button></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 ">
                    <div class="d-flex justify-content-center">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h1 class="card-title text-center">Antrian Prioritas</h1>
                                <h4 class="card-subtitle mb-2 text-muted text-center">Sisa Antiran <span id="sisa_prioritas"></span></h4>
                                <div class="d-flex justify-content-center">
                                    <h1 class="card-text"><button type="button" class="btn btn-outline-danger text-center btn-lg" onclick="cetak_prioritas()">Cetak Antrian ke <span id="antrian_prioritas"></span> </button></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- end wrapper -->
    <%- include('layout/script') -%>
        <script src="/asset/js/cetak.js"></script>
        <%- include('layout/footer') -%>