<%- include('layout/header') -%>
<div class="wrapper">
    <div class="container-fluid">

        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <h4 class="page-title">&nbsp;</h4>
                </div>
            </div>
        </div>
        <!-- end page title end breadcrumb -->
        <h1>Sisa Antrian</h1>
        <h1 id="sisa">0</h1>
        <button onclick="cetak()">Cetak Antiran</button>
    </div>
</div>
<!-- end wrapper -->
<%- include('layout/script') -%>
<script src="/asset/js/cetak.js"></script>
<%- include('layout/footer') -%>