<%- include('layout/header') -%>
<div class="mt-4">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-6 col-xl-12">
                <div class="card m-b-30 h-360">
                    <div class="h2 card-header text-white text-center bg-success">
                        <hx2>ANTRIAN DIPANGGIL</hx2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 col-xl-3">
                                <div class="card m-b-30 text-center">
                                    <div class="h2 card-header text-white bg-success">
                                        <hx2>Loket 1</hx2>
                                    </div>
                                    <div class="card-body">
                                        <hx class="font-weight-bold" id="1">-</hx>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-xl-3">
                                <div class="card m-b-30 text-center">
                                    <div class="h2 card-header text-white bg-success">
                                        <hx2>Loket 2</hx2>
                                    </div>
                                    <div class="card-body">
                                        <hx id="2">-</hx>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-xl-3">
                                <div class="card m-b-30 text-center">
                                    <div class="h2 card-header text-white bg-success">
                                        <hx2>Loket 3</hx2>
                                    </div>
                                    <div class="card-body">
                                        <hx id="3">-</hx>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-xl-3">
                                <div class="card m-b-30 text-center">
                                    <div class="h2 card-header text-white bg-success">
                                        <hx2>Loket 4</hx2>
                                    </div>
                                    <div class="card-body">
                                        <hx id="4">-</hx>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xl-12">
                <div class="card m-b-30 h-360">
                    <div class="card-body">
                        <div class="video-container">
                            <video id="videos" controls autoplay loop muted="muted">
                                <!-- <source id="video" src="{!! asset('theme/assets/video/video.mp4') !!}" type="video/mp4"> -->
                                <source id="video" src="/asset/audio/pendaftaran.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h1 hidden id="sisa">0</h1>
<%- include('layout/script') -%>
<script src="/asset/js/audio2.js"></script>
<script>
    const socket = io();
    socket.on('loket', (msg, nomor_antri) => {
        console.log(msg);
        console.log(nomor_antri);
        document.getElementById(msg).innerHTML = nomor_antri;
    });
    socket.on("connect", () => {
        console.log(socket.connected); // true
        console.log(socket.id); // "G5p5..."
        socket.emit("UpdateLoket", "");
    });
    socket.on('pangil', (no, loket) => {
        console.log("pangil : " + no + " Loket : " + loket);
        number(no);
        console.log("Nomor antrian : " + no);
        setTimeout(() => {
            new Audio('/asset/audio/suara/loket.wav').play();
        }, 3700);
        if(no>100){
            setTimeout(() => {
            console.log("loket : " + loket);
            angka(loket)
        }, 4200);
        } else{
            setTimeout(() => {
            console.log("loket : " + loket);
            angka(loket)
        }, 3900);}
     
    });
</script>
<%- include('layout/footer') -%>