<%- include('layout/header') -%>
<div class="mt-4">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-6 col-xl-12">
                <div class="card m-b-30 h-360">
                    <div class="h2 card-header text-white text-center bg-success">
                        <hx2>ANTRIAN DIPANGGIL</hx2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card m-b-30 text-center">
                                            <div class="h2 card-header text-white bg-success">
                                                <hx2>Loket 1</hx2>
                                            </div>
                                            <div class="card-body">
                                                <hx class="font-weight-bold" id="1">-</hx>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card m-b-30 text-center">
                                            <div class="h2 card-header text-white bg-success">
                                                <hx2>Loket 2</hx2>
                                            </div>
                                            <div class="card-body">
                                                <hx id="2">-</hx>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card m-b-30 text-center">
                                            <div class="h2 card-header text-white bg-success">
                                                <hx2>Sisa Antian</hx2>
                                            </div>
                                            <div class="card-body">
                                                <hx id="sisa">-</hx>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="card m-b-30 h-360">
                                            <div class="card-body">
                                                <div class="video-container">
                                                    <video id="videos" controls autoplay loop muted="muted">
                                                        <!-- <source id="video" src="{!! asset('theme/assets/video/video.mp4') !!}" type="video/mp4"> -->
                                                        <source id="video" src="/asset/audio/pendaftaran.mp4" type="video/mp4">
                                                    </video>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card m-b-30 text-center">
                                            <div class="h2 card-header text-white bg-success">
                                                <hx2>Loket 3</hx2>
                                            </div>
                                            <div class="card-body">
                                                <hx id="3">-</hx>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card m-b-30 text-center">
                                            <div class="h2 card-header text-white bg-success">
                                                <hx2>Loket 4</hx2>
                                            </div>
                                            <div class="card-body">
                                                <hx id="4">-</hx>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<h1 hidden id="sisa">0</h1>
<%- include('layout/script') -%>
<script src="/asset/js/audio2.js"></script>
<script>
    const socket = io();
    socket.on('loket', (msg, nomor_antri) => {
        console.log(msg);
        console.log(nomor_antri);
        document.getElementById(msg).innerHTML = nomor_antri;
    });
    // Prioritas
    socket.on('loket_prioritas', (msg, nomor_antri) => {
                console.log(msg);
                console.log(nomor_antri);
                document.getElementById(msg).innerHTML = `<span style='color: red;'>${nomor_antri} P</span> `;
            });
    socket.on("connect", () => {
        console.log(socket.connected); // true
        console.log(socket.id); // "G5p5..."
        socket.emit("UpdateLoket", "");
    });
    socket.on('pangil', (no, loket) => {
        console.log("pangil : " + no + " Loket : " + loket);
        number(no);
        console.log("Nomor antrian : " + no);
      
        if(no>100){
            setTimeout(() => {
            console.log("loket : " + loket);
            new Audio('/asset/audio/suara/loket.wav').play();
        }, 5200);
            setTimeout(() => {
            angka(loket)
        }, 5100);
        } else{
            setTimeout(() => {
            new Audio('/asset/audio/suara/loket.wav').play();
        }, 3700);
            setTimeout(() => {
            console.log("loket : " + loket);
            angka(loket)
        }, 3900);}
     
    });
    socket.on('sisa', (msg) => {
        console.log('sisa: ' + msg);
        document.getElementById("sisa").innerHTML = msg;
    });

    socket.on('panggil_prioritas', (no, loket) => {
        console.log("pangil : " + no + " Loket : " + loket);
        new Audio('/asset/audio/suara/Prioritas.mp4').play();
        setTimeout(() => {
               number(no);
        }, 3000);
   
    
        console.log("Nomor antrian : " + no);
      
        if(no>100){
            setTimeout(() => {
            console.log("loket : " + loket);
            new Audio('/asset/audio/suara/loket.wav').play();
        }, 8200);
            setTimeout(() => {
            angka(loket)
        }, 8100);
        } else{
            setTimeout(() => {
            new Audio('/asset/audio/suara/loket.wav').play();
        }, 6700);
            setTimeout(() => {
            console.log("loket : " + loket);
            angka(loket)
        }, 6900);}
    });
</script>
<%- include('layout/footer') -%>