<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="/asset/css/bootstrap-material-design.min.css">
    <link rel="stylesheet" href="/asset/css/icons.css">
    <link rel="stylesheet" href="/asset/css/style.css">
</head>

<body>

    <!-- Loader -->
    <!-- <div id="preloader"><div id="status"><div class="spinner"></div></div></div> -->

    <!-- Navigation Bar-->
    <!-- <header id="topnav">
        <div class="col-sm-12">
            <div class="card h-360">
                <div class="text-center">
                    <h1>&nbsp;</h1>
                    <h1>RUMAH SAKIT UMUM DAERAH dr. ABDUL AZIZ SINGKAWANG</h1>
                </div>
            </div>
        </div>
    </header> -->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <img src="/asset/img/logo-RSUD.jpg" alt="Logo RSUD" width="100">
            <div class="text-right">
                <h1 >RUMAH SAKIT UMUM DAERAH dr. ABDUL AZIZ SINGKAWANG</h1>
                <h4 id="waktu-berjalan" ></h4>
            </div>
        </div>
    </nav>
    <!-- End Navigation Bar-->