<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="/asset/css/bootstrap-material-design.min.css">
    <link rel="stylesheet" href="/asset/css/icons.css">
    <link rel="stylesheet" href="/asset/css/style.css">
    <link rel="stylesheet" href="/asset/css/costume.css">
</head>

<body>

    <nav class="navbar navbar-light bg-light sticky-top">
        <div class="navbar-brand">
            <img src="/asset/img/logo-RSUD.jpg" alt="Logo RSUD" width="150">
          </div>
       
            <div class="container-lg">
                    <div class="text-right">
                        <h1>RUMAH SAKIT UMUM DAERAH dr. ABDUL AZIZ SINGKAWANG</h1>
                        <h4 id="tanggal"></h4>
                        <h4 id="waktu-berjalan"></h4>
            </div>
        </div>
    </nav>
    <!-- End Navigation Bar-->